<div class="background">
    <header>
        <div class="logo">
            <img src="assets/logo donaMARIA.jpg" alt="logo">
        </div>
        <div class="cabecalho">

            <li>
                <a routerLink="navbar">Home</a>
            </li>
            <li>
                <a routerLink="servicos">Serviços</a>
            </li>
            <li>
                <a routerLink="dicas">Dicas</a>
            </li>
            <li>
                <a routerLink="quemsomos">Quem somos</a>
            </li>

            <a href=""><button>Meu contato</button></a>

        </div>

    </header>

    <div class="container-text">

        <div class="text">
            <h1 class="title">De tralhas a reluzir
                a limpeza faz o ambiente sorrir!
            </h1>

            <a href=""><button class="bt">Contato</button></a>
        </div>
    </div>

</div>
